<title>Trader Insights - Login</title>
<link rel="stylesheet" media="screen" href="{{url_for('static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
	<h2>Log-In</h2>
	<form action="{{url_for('auth.login')}}" method="post" role="form">
		{{ form.csrf }}
		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Registered email">
 
			<label for="password">Password:</label>
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
 
		</div>
		<button type="submit" class="btn btn-success" name="login" value="Login">Log In</button>
		<button type="submit" class="btn btn-success" name="register" value="Register">Register</button>
	</form>
	{% with messages = get_flashed_messages(category_filter=["error"]) %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning">
					{% autoescape false %}
					{{ message }}
					{% endautoescape %}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>