
<html>
<head>
<header>	
<style type ="text/css">
        #main-header{
            text-align:center;
            background-color:brown;
            color:black;
            padding:10px;
    }
    #main-footer{
        text-align: center;
        font-size:10px;
    }
    
</style>
</head>
<body>
<header id="main-header"> 
    <h1> UserPage - TraderInsights</h1>
</header>



<title>Trader Insights - {{session['email']}}'s Home Page</title>
<link rel="stylesheet" media="screen" href="{{url_for('static',filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-theme.min.css')}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
	<form action="" method="post" role="form">
		{{ form.csrf }}
		<div>
			<button type="submit" class="btn btn-profile" name="profile" value="Profile">Profile</button>
			<button type="submit" class="btn btn-request" name="request" value="Request">Request a Quote</button>
			<button type="submit" class="btn btn-history" name="history" value="History">Quote History</button>
			<button type="submit" class="btn btn-logout" name="logout" value="Logout">Logout</button>
		</div>
		<div>
			<h2>Welcome {{session['fullname']}}!</h2>
		</div>
	</form>
</div>


<br>
	  <br>
	   <br>
	    <br>
	     <br>
	      <br>
	       <br>
	       <br>
  			<br>
  			<br>
  			<br>
  			<br>
  			<br>

 <br>
	   <br>
	    <br>
	     <br>
	      <br>
	
  			</br>

 </br>

 <footer id="main-footer">

      <strong><p>Copyright &copy; TraderInsights</p></strong>
      <style type ="text/css">
        #main-footer{
            text-align:baseline;
            background-color:brown;
            color:black;
            padding:50px;
    }
    #main-footer{
        text-align: baseline;
        font-size:30px;
    }
</style>
    </footer>
</body>
</html>
