<title>Trader Insights - Profile Management</title>
<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/bootstrap-theme.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
	<form action="{{url_for('manageProfile', name=name)}}" method="post" role="form">
		{{ form.csrf }}
		<div class="form-group">
			<div>
				<button type="submit" class="btn btn-profile" name="profile" value="Profile">Profile</button>
				<button type="submit" class="btn btn-Request" name="request" value="Request">Request a Quote</button>
				<button type="submit" class="btn btn-History" name="history" value="History">Quote History</button>
				<button type="submit" class="btn btn-logout" name="logout" value="Logout">Logout</button>
			</div>
			<h2>Profile Management</h2>
			<label for="first">First Name:</label>
			<input type="text" class="form-control" id="first" name="first" value="{{first}}">
 
			<label for="last">Last Name:</label>
			<input type="text" class="form-control" id="last" name="last" value="{{last}}">

			<label for="company">Company Name:</label>
			<input type="text" class="form-control" id="company" name="company" value="{{company}}">

<br>

			<label for="addr">Street Address:</label>
			<input type="text" class="form-control" id="addr" name="addr" value="{{addr}}">

			<label for="city">City:</label>
			<input type="text" class="form-control" id="city" name="city" value="{{city}}">

			<label for="state">State (XX):</label>
			<input type="text" class="form-control" id="state" name="state" value="{{state}}">

			<label for="zipcode">Zipcode (#####):</label>
			<input type="text" class="form-control" id="zipcode" name="zipcode" value="{{zipcode}}">

<br>

			<label for="newpass">New Password:</label>
			<input type="password" class="form-control" id="newpass" name="newpass" placeholder="New password between 3 and 35 characters">

<br>

			<label for="currpass">Current Password:</label>
			<input type="password" class="form-control" id="currpass" name="currpass"

			<label for="confpass">Confirm Password:</label>
			<input type="password" class="form-control" id="confpass" name="confpass" placeholder="Confirm current password">

		</div>

		<button type="submit" class="btn btn-success" name="submit" value="Submit">Submit</button>
		<button type="submit" class="btn btn-success" name="cancel" value="Cancel">Cancel</button>
	</form>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for message in messages %}
				{% if "Error" not in message[1]: %}
					<div class="alert alert-info">
						<strong>Success! </strong> {{ message[1] }}
					</div>
				{% endif %}
				{% if "Error" in message[1]: %}
					<div class="alert alert-warning">
						{% autoescape false %}
						{{ message[1] }}
						{% endautoescape %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>