<title>Trader Insights - Request a Quote</title>
<link rel="stylesheet" media="screen" href="{{url_for('static',filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-theme.min.css')}}"
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
	<form action="{{url_for('req.getQuote', email=session['email'])}}" method="post" role="form">
		{{ form.csrf }}
		<div class="form-group">
			<div>
				<button type="submit" class="btn btn-profile" name="profile" value="Profile">Profile</button>
				<button type="submit" class="btn btn-Request" name="request" value="Request">Request a Quote</button>
				<button type="submit" class="btn btn-History" name="history" value="History">Quote History</button>
				<button type="submit" class="btn btn-logout" name="logout" value="Logout">Logout</button>
			</div>
			<h2>Quote Form</h2>
			<div>
				<h3>Name: {{session['fullname']}}</h3>
			</div>
			<div>
				<h3>Company: {{session['company']}}</h3>
			</div>
			<div>
				<h3>Delivery Address: {{session['addr1']}}<br/>
					{% if session['addr2']: %}
						{{session['addr2']}}<br/>
					{% endif %}
					{{session['city']}}, {{session['state']}} {{session['zipcode']}}</h3>
			</div>
			<label for="gal">Number of Gallons:</label>
<input type="text" class="form-control" id="gal" name="gal" placeholder="0">

			<label for="deliv_date">Delivery Date:</label>
<input type="date" class="form-control" id="deliv_date" name="deliv_date">

			<label for="deliv_time">Delivery Time:</label>
<input type="time" class="form-control" id="deliv_time" name="deliv_time">
		</div>

		<button type="submit" class="btn btn-success" name="proceed" value="Proceed">Proceed</button>
		<button type="submit" class="btn btn-danger" name="cancel" value="Cancel">Cancel</button>
	</form>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for message in messages %}
				{% if "Error" in message[1]: %}
					<div class="alert alert-warning">
						{% autoescape false %}
						{{ message[1] }}
						{% endautoescape %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
</div>
